/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ng-select .ng-option {
  display: flex;
  align-items: center;
}

.ng-select .ng-option input[type="checkbox"] {
  margin-right: 8px;
}